<div class="container">
    <div class="page-wrapper bg-gra-02 p-t-30 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title"> Thay đổi mật khẩu </h2>
                    <form METHOD="POST" action="/user/changepass">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nhập mật khẩu mới</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" name="password1"
                                aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="form-label">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" name = "password2"
                                aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                    </form>
                    <a href="/user/register" class="">Tạo một tài khoản mới</a>
                </div>
            </div>
        </div>
    </div>

</div>