<div class="container register">
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Tạo ảnh</h2>
                    <form action="/blog/them_anh" enctype="multipart/form-data" method="POST">
                        <input type="file" name="image"  />
                        <input type="submit" value="Upload Photo" />
                    </form>

                    {{!-- <form method="POST" action="/blog/them_anh" enctype="multipart/form-data">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="date">
                                    <label class="label">Tải ảnh </label>
                                    <div class="input-group-icon">
                                        <input type="file" name="image" />
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký</button>
                        </div>
                    </form> --}}
                </div>
            </div>
        </div>
    </div>
</div>