<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button> Hoc ngay</button>
        </div>
        <div class="col-lg-9">
            <h1> {{course.name}}  </h1>
            <img src=" {{course.image}}" class=" {{course.name}}" alt="...">
            <p>{{course.description}} </p>
        </div>
    </div>
</div>