<div class="container">
    {{!-- {{{ req.toastr.render }}} --}}
        <div class="page-wrapper bg-gra-02 p-t-30 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Đăng nhập</h2>
                        <form method="POST" action="/user/login">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="user_email" required="required">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    name="user_password" required="required">
                                <div id="emailHelp" class="form-text">
                                    <a href="/user/fogetpass">Quên mật khẩu</a>
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Lưu đăng nhập</label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="liveToastBtn">Đăng nhập</button>
                        </form>
                        <a href="/user/register" class="">Bạn chưa có tài khoản? Đăng ký ngay!!!</a>
                    </div>
                </div>
            </div>
        </div>