<div class="container register">
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng ký tài khoản</h2>
                    <form method="POST" action="/user/register">
                        <div class="row row-space">
                            <div class="col-2 form-group">
                                <div class="input-group">
                                    <label class="label">Họ và tên</label>
                                    <input class="input--style-4" type="text" name="name" required="required">
                                </div>
                            </div>
                            <div class="col-2 form-group">
                                <div class="date">
                                    <label class="label">Đăng ký với vai trò</label>
                                    <div class="input-group-icon">
                                        <select class="form-select" aria-label="Default select example" name="role">
                                            <option value="1">Học viên</option>
                                            <option value="2">Huấn luyện viên</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="date">
                                    <label class="label">Ngày tháng năm sinh</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="date" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="gender">
                                    <label class="label">Giới tính</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45"> Nam
                                            <input type="radio" checked="checked" name="gender" value="nam">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Nữ
                                            <input type="radio" name="gender" value="nu">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Chiều cao (cm)</label>
                                    <input class="input--style-4" type="text" name="height">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Cân nặng (kg)</label>
                                    <input class="input--style-4" type="text" name="weight">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Số điện thoại</label>
                                    <input class="input--style-4" type="text" name="phone_number">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Địa chỉ(Thành phố)</label>
                                    <input class="input--style-4" type="text" name="address">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2 form-group">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" required="required">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group form-group pass">
                                    <label class="label">Password</label>
                                    <input id="password" class="input--style-4" type="password" name="password" required="required" placeholder="Mật khẩu nên có từ 6 ký tự trở lên">
                                    <span class="show-btn eye2"><i id="pass_eye" class="fas fa-eye"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="p-t-15">
                            <button id="register" class="btn btn--radius-2 btn--orange" type="submit">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if register_false}}
<iframe hidden="hidden" id="error" src="/default.asp"></iframe>
<input hidden="hidden" id="error_heading" value="Email đã được đăng ký">
<input hidden="hidden" id="error_text" value="Hãy đăng ký lại!">
{{/if}}
{{#if mail_or_pass_blank}}
<iframe hidden="hidden" id="error" src="/default.asp"></iframe>
<input hidden="hidden" id="error_heading" value="Bạn chưa nhập đủ thông tin">
<input hidden="hidden" id="error_text" value="Vui lòng không thể để trống các trường bắt buộc">
{{/if}}