<div class="container">
    <div class="page-wrapper bg-gra-02 p-t-30 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title"> Thay đổi mật khẩu </h2>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nhập địa chỉ email của bạn</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi mã xác minh qua email</button>
                    </form>
                    <a href="/user/register" class="">Tạo một tài khoản mới</a>
                </div>
            </div>
        </div>
    </div>

</div>